{
  "extends": ["plugin:prettier/recommended", "react-app"],
  "rules": {   
    // Delete `␍` error  
    // 개행 관련 윈도우에서는 CRLF, 유닉스/맥에서는 LF 때문에 생기는 에러 방지
    "prettier/prettier": ["error", { "endOfLine": "auto" }]   
  }
}
